## **Local Government Area (LGA) Summary**

In [36]:
import pandas as pd

students_df = pd.read_csv('E:/Downloads/Starter_Code/PyCitySchools/Resources/students_complete.csv')
students_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [38]:
schools_df = pd.read_csv('E:/Downloads/Starter_Code/PyCitySchools/Resources/schools_complete.csv')
schools_df.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [44]:
# 1. Total number of unique schools
total_unique_schools = schools_df['school_name'].nunique()

# 2. Total students
total_students = students_df['Student ID'].nunique()

# 3. Total budget
total_budget = schools_df['budget'].sum()

# 4. Average maths score
average_maths_score = students_df['maths_score'].mean()

# 5. Average reading score
average_reading_score = students_df['reading_score'].mean()

# 6. % passing maths (assuming passing is 50 or above)
passing_maths = students_df[students_df['maths_score'] >= 50].shape[0]
percent_passing_maths = (passing_maths / total_students) * 100

# 7. % passing reading (assuming passing is 50 or above)
passing_reading = students_df[students_df['reading_score'] >= 50].shape[0]
percent_passing_reading = (passing_reading / total_students) * 100

# 8. % overall passing (students who passed both maths and reading)
overall_passing = students_df[(students_df['maths_score'] >= 50) & (students_df['reading_score'] >= 50)].shape[0]
percent_overall_passing = (overall_passing / total_students) * 100

# Creating a summary DataFrame for the Local Government Area
local_government_area_summary = pd.DataFrame({
    'Total Unique Schools': [total_unique_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Maths Score': [average_maths_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Maths': [percent_passing_maths],
    '% Passing Reading': [percent_passing_reading],
    '% Overall Passing': [percent_overall_passing]
})

# Displaying the summary to the user
local_government_area_summary

,Total Unique Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## **School Summary**

In [62]:
#Merge students and schools dataframe
school_data_complete = pd.merge(students_df, schools_df, how="left", on="school_name")

#Group the data by school to calculate metrics for each school
grouped_school_data = school_data_complete.groupby('school_name')

#School name and School type
school_summary = schools_df.set_index('school_name')[['type']]

#Calculate the total number of students in each school
total_students = grouped_school_data['Student ID'].count()

#Total school budget
total_budget = grouped_school_data['budget'].first()

#Per student budget
per_student_budget = total_budget / total_students

#Average maths score and Average reading score
average_maths_score = grouped_school_data['maths_score'].mean()
average_reading_score = grouped_school_data['reading_score'].mean()

#% passing maths and % passing reading
passing_maths = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()
percent_passing_maths = (passing_maths / total_students) * 100

passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()
percent_passing_reading = (passing_reading / total_students) * 100

#% overall passing
overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 50) & 
                                       (school_data_complete['reading_score'] >= 50)].groupby('school_name')['Student ID'].count()
percent_overall_passing = (overall_passing / total_students) * 100

#Combine the Metrics into a DataFrame
school_summary = pd.DataFrame({
    'School Type': schools_df.set_index('school_name')['type'],
    'Total Students': total_students,
    'Total School Budget': total_budget,
    'Per Student Budget': per_student_budget,
    'Average Maths Score': average_maths_score,
    'Average Reading Score': average_reading_score,
    '% Passing Maths': percent_passing_maths,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing': percent_overall_passing
})

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

## **Highest-Performing Schools (by % Overall Passing)**

In [65]:
#% Overall Passing (Descending Order)
top_schools = school_summary.sort_values('% Overall Passing', ascending=False).head(5)
top_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## **Lowest-Performing Schools (by % Overall Passing)**

In [68]:
#% Overall Passing (Ascending Order)
bottom_schools = school_summary.sort_values('% Overall Passing', ascending=True).head(5)
bottom_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

### **Maths Scores by Year**

In [72]:
# Group by school name and year, then calculate the average maths score
maths_scores_by_year = school_data_complete.groupby(['school_name', 'year'])['maths_score'].mean()

# Reshape the data to make schools the rows and years the columns
maths_scores_by_year = maths_scores_by_year.unstack()

# Display the Maths Scores by Year DataFrame
maths_scores_by_year

year                          9          10         11         12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

### **Reading Scores by Year**

In [75]:
# Group by school name and year, then calculate the average reading score
reading_scores_by_year = school_data_complete.groupby(['school_name', 'year'])['reading_score'].mean()

# Reshape the data to make schools the rows and years the columns
reading_scores_by_year = reading_scores_by_year.unstack()

# Display the Reading Scores by Year DataFrame
reading_scores_by_year

year                          9          10         11         12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## **Scores by School Spending**

In [84]:
# Define the spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Add a new column to categorise the schools based on spending per student
school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], spending_bins, labels=labels, include_lowest=True)

In [88]:
# Group by spending ranges and calculate the mean for each metric
spending_maths_scores = school_summary.groupby("Spending Ranges (Per Student)").agg({"Average Maths Score": "mean"})
spending_reading_scores = school_summary.groupby("Spending Ranges (Per Student)").agg({"Average Reading Score": "mean"})
spending_passing_maths = school_summary.groupby("Spending Ranges (Per Student)").agg({"% Passing Maths": "mean"})
spending_passing_reading = school_summary.groupby("Spending Ranges (Per Student)").agg({"% Passing Reading": "mean"})
overall_passing_spending = school_summary.groupby("Spending Ranges (Per Student)").agg({"% Overall Passing": "mean"})

# Creating the summary DataFrame
spending_summary = pd.DataFrame({
    "Average Maths Score": spending_maths_scores["Average Maths Score"],
    "Average Reading Score": spending_reading_scores["Average Reading Score"],
    "% Passing Maths": spending_passing_maths["% Passing Maths"],
    "% Passing Reading": spending_passing_reading["% Passing Reading"],
    "% Overall Passing": overall_passing_spending["% Overall Passing"]
})

spending_summary

C:\Windows\Temp\ipykernel_18852\3743122611.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_maths_scores = school_summary.groupby("Spending Ranges (Per Student)").agg({"Average Maths Score": "mean"})
C:\Windows\Temp\ipykernel_18852\3743122611.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_summary.groupby("Spending Ranges (Per Student)").agg({"Average Reading Score": "mean"})
C:\Windows\Temp\ipykernel_18852\3743122611.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_maths = school_summary.groupby("Spending Ranges (Per Student)").agg({"% Passing Maths": "mean"})
C:\Windows\Temp\ipykernel_18852\3743122611.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_summary.groupby("Spending Ranges (Per Student)").agg({"% Passing Reading": "mean"})
C:\Windows\Temp\ipykernel_18852\3743122611.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_summary.groupby("Spending Ranges (Per Student)").agg({"% Overall Passing": "mean"})

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## **Scores by School Size**

In [92]:
# Define the size bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add a new column to categorize the schools based on size
school_summary["School Size"] = pd.cut(school_summary["Total Students"], size_bins, labels=labels, include_lowest=True)

# Group by school size and calculate the mean for each metric
size_math_scores = school_summary.groupby("School Size").agg({"Average Maths Score": "mean"})
size_reading_scores = school_summary.groupby("School Size").agg({"Average Reading Score": "mean"})
size_passing_math = school_summary.groupby("School Size").agg({"% Passing Maths": "mean"})
size_passing_reading = school_summary.groupby("School Size").agg({"% Passing Reading": "mean"})
size_overall_passing = school_summary.groupby("School Size").agg({"% Overall Passing": "mean"})

# Create the size_summary DataFrame
size_summary = pd.DataFrame({
    "Average Maths Score": size_math_scores["Average Maths Score"],
    "Average Reading Score": size_reading_scores["Average Reading Score"],
    "% Passing Maths": size_passing_math["% Passing Maths"],
    "% Passing Reading": size_passing_reading["% Passing Reading"],
    "% Overall Passing": size_overall_passing["% Overall Passing"]
})

size_summary

C:\Windows\Temp\ipykernel_18852\1707394833.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_summary.groupby("School Size").agg({"Average Maths Score": "mean"})
C:\Windows\Temp\ipykernel_18852\1707394833.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = school_summary.groupby("School Size").agg({"Average Reading Score": "mean"})
C:\Windows\Temp\ipykernel_18852\1707394833.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_summary.groupby("School Size").agg({"% Passing Maths": "mean"})
C:\Windows\Temp\ipykernel_18852\1707394833.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = school_summary.groupby("School Size").agg({"% Passing Reading": "mean"})
C:\Windows\Temp\ipykernel_18852\1707394833.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = school_summary.groupby("School Size").agg({"% Overall Passing": "mean"})

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## **Scores by School Type**

In [95]:
# Group by school type and calculate the mean for each metric
type_math_scores = school_summary.groupby("School Type").agg({"Average Maths Score": "mean"})
type_reading_scores = school_summary.groupby("School Type").agg({"Average Reading Score": "mean"})
type_passing_maths = school_summary.groupby("School Type").agg({"% Passing Maths": "mean"})
type_passing_reading = school_summary.groupby("School Type").agg({"% Passing Reading": "mean"})
type_overall_passing = school_summary.groupby("School Type").agg({"% Overall Passing": "mean"})

# Create the type_summary DataFrame
type_summary = pd.DataFrame({
    "Average Maths Score": type_math_scores["Average Maths Score"],
    "Average Reading Score": type_reading_scores["Average Reading Score"],
    "% Passing Maths": type_passing_maths["% Passing Maths"],
    "% Passing Reading": type_passing_reading["% Passing Reading"],
    "% Overall Passing": type_overall_passing["% Overall Passing"]
})

type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340